<div class="container">
    <h2 class="section-title">Education</h2>
    <div class="timeline">
        <div class="timeline-item">
            <h3>MASc. in System Design Engineering</h3>
            <p class="meta">University of Waterloo</p>
            <p class="date">NSERC & IMSA research scholarship (100%)</p>
            <ul class="description">
                <li><a href="https://ocul-wtl.primo.exlibrisgroup.com/permalink/01OCUL_WTL/vk29fk/alma9949150643505162"
                        target="_blank" rel="noopener noreferrer"
                        style="color: var(--accent-primary); text-decoration: none;">Thesis</a>: Trade-offs in
                    large-display implementations and their impact on user performance</li>
                <li>Courses: Human Computer Interaction, Computer Networks, Artificial Intelligence, Time Series
                    Modeling, Probabilistic Models</li>
            </ul>
        </div>
        <div class="timeline-item">
            <h3>Bachelor of Technology in Industrial Engineering</h3>
            <p class="meta">National Institute of Technology, Kurukshetra</p>
            <ul class="description">
                <li>Relevant Coursework: Data Structure, Numerical Methods, Programming C++, Financial Management,
                    Operation Research</li>
            </ul>
        </div>
    </div>
</div>