<div class="container">
    <h2 class="section-title">Hackathons</h2>
    <div class="hackathons-grid">
        <div class="hackathon-item">
            <h3>2nd Place, Google Cloud Hackathon</h3>
            <p class="event-info">Google Cloud hackathon</p>
            <p class="achievement">Developed an in-store experience optimization app leveraging Google APIs</p>
        </div>
        <div class="hackathon-item">
            <h3>1st Place, Facebook Dementia Hackathon</h3>
            <p class="event-info">Dementia hackathon</p>
            <p class="achievement">Built a real-time, Uber-style caregiver matching app for dementia support</p>
        </div>
        <a href="https://github.com/Dembla/OpsPilot_Hackathon" target="_blank"
            class="hackathon-item hackathon-link-card">
            <h3>AI Production Optimization App</h3>
            <p class="event-info">AI-Enabled System</p>
            <p class="achievement">Built the end to end AI enabled app that reduce the production calls time by half.
            </p>
            <div class="tooltip-box">Please click to Git Hub repo</div>
        </a>
    </div>
</div>