<div class="container">
    <div class="logo">My Personal Website</div>
    <div class="menu-toggle" id="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <ul class="nav-links">
        <li><a href="#hero-section">Home</a></li>
        <li><a href="#skills-section">Skills</a></li>
        <li><a href="#experience-section">Experience</a></li>
        <li><a href="#education-section">Education</a></li>
        <li><a href="#projects-section">Projects</a></li>
        <li><a href="#certificates-section">Certificates</a></li>
        <li><a href="#hackathons-section">Hackathons</a></li>
        <li><a href="#contact-section">Contact</a></li>
    </ul>
</div>