<div class="container">
    <div class="logo">My Portfolio</div>
    <div class="menu-toggle" id="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <ul class="nav-links">
        <li><a href="index.html#hero-section">Home</a></li>
        <li><a href="index.html#skills-section">Skills</a></li>
        <li><a href="index.html#experience-section">Experience</a></li>
        <li><a href="index.html#education-section">Education</a></li>
        <li><a href="index.html#projects-section">Projects</a></li>
        <li><a href="index.html#certificates-section">Certificates</a></li>
        <li><a href="index.html#hackathons-section">Hackathons</a></li>
        <li><a href="index.html#contact-section">Contact</a></li>
        <li><a href="til.html" class="til-link">TIL</a></li>
    </ul>
</div>